body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 800px;
  height: 600px;
  border: 2px solid #333;
  margin-right: 20px;
}

#gameTitle {
  align-self: center;
  font-size: 32px;
  color: #333;
  margin-top: 5px;
}

.button {
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
}

#instructionsContainer {
  display: none;
  margin-top: 20px;
}

#instructionsText {
  font-size: 17px;
  color: #333;
  text-align: left;
  margin: 20px;
}

/* Makes high scores hidden to start and adjusts them to be on the right of the game container */
#highScoresContainer {
  flex-direction: column;
  margin-left: 20px;
  display: none;
  position: absolute;
  top: 50%;
  left: calc(48% + 420px);
  transform: translateY(-50%);
}

#highScoresTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#highScoresList {
  font-size: 20px;
  color: #333;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Only show the footer if the screen height is over 700px so it does not impede with the game container */
@media (min-height: 700px) {
  footer {
    display: block;
  }
}
